h1 {
  color: white;
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
h3 {
  font-size: 16px;
text-align: center;
}
body {
  background-color: black;
}
a:link {
  color: Aquamarine;
}
#cellphone {
  background: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/excursion/images/phone.png') no-repeat top left transparent;
    width: 900px; /* Adjust TV image width */
    height: 300px; /* Adjust TV image height */
    position: center;
}
#cellphone video {
  position: absolute;
    top: 30px; /* Adjust top position */
    left: 40px; /* Adjust left position */
}
